
.block {
	padding: 20px 0;
	&--border {
		border-bottom: 1px solid #b2b2b2;
	}
	&--lighten {
		background-color: $lighten-bg;
	}
	&--light {
		background-color: $light-bg;
	}
	&--dark{
		background: #000;
	}
	&--pd-0{
		padding: 0;
	}
	&--border-top-bot {
		border-top: 1px solid #d6d6d6;
		border-bottom: 1px solid #d6d6d6;
	}
	&--pd-sm{
		padding: 10px;
	}
	&--mg-bot{
		margin-bottom: 15px;
	}
}