.brands {
	overflow: hidden;
	&__title {
		text-transform: uppercase;
		padding: 0 20px;
		position: relative;
		display: inline-block;
		&:after,
		&:before {
			content: '';
			position: absolute;
			height: 1px;
			width: 9999px;
			background-color: #b2b2b2;
			top: 50%;
			right: 100%;
			transform: translatY(-50%);
		}
		&:after {
			left: 100%;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
}