.caret {
    display: inline-block;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    &--mg-top{
    	margin-top: -8px;
    }
    &--right{
        border-top: 5px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid;
    }
    &--mg-left{
        margin-left: 20px;
    }
    &--mg-null{
        margin: 0;
    }
}