$lighten-bg:      #f7f7f7;
$inverse-bg:      #fff;
$primary-bg:      #525252;
$info-bg:         #4fafa0;
$succes-bg:       #b8a9a4;
$grey-bg:         #4c4c4c;

$brand-color:     #fd926d;
$text-color:      #373737;
$grey-color:      #4d4d4d;

$border-color:    #d8d8d8;

@mixin icon-color ($background, $color, $border-color) {
  background: $background;
  color: $color;
  border-color: $border-color;
}

@mixin icon-pill ($border-radius, $padding) {
  border-radius: $border-radius;
  padding: $padding;
}

// Position
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.overflow {
  overflow: hidden;
}
.block-center {
  margin: 0 auto;
}

// Colors
.brand-color {
  color: $brand-color;
}
.inverse {
  color: #fff;
}
.succes-color {
  color: $succes-bg;
}

// Fonts
.uppercase {
  text-transform: uppercase;
}
.font--lg {
  font-size: 20px;
}
.font--md {
  font-size: 16px;
}
.font--sm {
  font-size: 12px;
}
.font--bold {
  font-weight: 700;
}

// Margin, padding
.margin--right {
  margin-right: 10px;
}
.margin--biggest {
  margin-bottom: 45px;
}
.margin--lg {
  margin-bottom: 27px;
}
.margin--md {
  margin-bottom: 20px;
  margin-top: 20px;
}
.margin--sm {
  margin-bottom: 10px;
}
.padding--sm {
  padding: 12px 5px;
}
.padding-bottom {
  padding-bottom: 9px;
}
.width-sm {
  max-width: 780px;
}

// Border
.border-bottom {
  border-bottom: 1px solid #d6d6d6;
}
.border-top {
  border-top: 1px solid #d6d6d6;
}
.border {
  border: 1px solid #d6d6d6;
}

// Size
.icon-pill-large {
  @include icon-pill(200px, 14px);
}
.icon-pill-middle {
  @include icon-pill(10px, 5px);
}
.icon-pill-small {
  @include icon-pill(5px, 2px);
}

// Color
.icon-color-lighten {
  @include icon-color($lighten-bg, #000, $lighten-bg);
}
.icon-color-inverse {
  @include icon-color($inverse-bg, #000, $inverse-bg);
}
.icon-color-primary {
  @include icon-color($primary-bg, #000, $primary-bg);
}
.icon-color-info {
  @include icon-color($info-bg, #000, $info-bg);
}
.icon-color-succes {
  @include icon-color(transparent, $succes-bg, $succes-bg);
}

// Background
.bg-lighten {
  background: $lighten-bg;
}
.bg-inverse {
  background: $inverse-bg;
}
.bg-primary {
  background: $primary-bg;
}
.bg-info {
  background: $info-bg;
}
.bg-succes {
  background: $succes-bg;
}

// Sale-block
.sale {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  background: $grey-bg;
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 0 0 4px;
  box-sizing: border-box;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 50px solid #fff;
    border-left: 50px solid transparent;
  }
  & p {
    font-size: 10px;
    color: #fff;
  }
}

// Features
.features {
  position: relative;
  max-width: 220px;
}
.features__photo {
  max-width: 220px;
  max-height: 290px;
  overflow: hidden;
  & img {
    width: 100%;
  }
}
.article{
  color: $text-color;
  & .tittle {
    margin-bottom: 12px; 
  }
  & .price {
    font-size: 22px;
    margin-bottom: 10px; 
  }
  & .button a {
    text-decoration: none;
  }
}

// Aside
.main__tittle {
  background: #000;
  padding: 10px 7px;
  margin-bottom: 10px;
}

// Heading
.heading {
  margin-bottom: 20px;
  &__title span {
   overflow: hidden;
   text-align: center;
    &:before,
    &:after {
     content: "";
     position: relative;
     display: inline-block;
     vertical-align: middle;
     width: 100%;
     height: 1px;
     background-color: $border-color;
    }
    &:before {
     margin-left: -59%;
     left: -10px;
    }
    &:after {
     margin-right: -100%;
     right: -10px;
    }
  }
  & span {
    color: #000;
  }
}

// Icon features
.icon-features {
  .features__photo {
    & span {
      display: block;
      &.icon-facebook {
        color: $succes-bg;
        font-size: 21px;
        border: 2px solid $succes-bg;
        background: transparent;
        padding: 14px;
        border-radius: 200px;
        &:hover {
          color: $brand-color;
          border-color: $brand-color;
        }
      }
      &.icon-pinterest {
        color: $succes-bg;
        font-size: 21px;
        border: 2px solid $succes-bg;
        background: transparent;
        padding: 14px;
        border-radius: 200px;
        &:hover {
          color: $brand-color;
          border-color: $brand-color;
        }
      }
      &.icon-twitter2 {
        color: $succes-bg;
        font-size: 21px;
        border: 2px solid $succes-bg;
        background: transparent;
        padding: 14px;
        border-radius: 200px;
        &:hover {
          color: $brand-color;
          border-color: $brand-color;
        }
      }
      &.icon-envelope {
        color: $succes-bg;
        font-size: 21px;
        border: 2px solid $succes-bg;
        background: transparent;
        padding: 14px;
        border-radius: 200px;
        &:hover {
          color: $brand-color;
          border-color: $brand-color;
        }
      }
    }
  }
  & .article {
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: $grey-color;
    & .tittle {
        margin-bottom: 0;
      & p {

      }
    }
  }
}