html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 12px;
  color: #f8f8f8;
  background: #fff; }

a {
  color: #f8f8f8; }
  a:hover {
    color: #fd926d;
    text-decoration: underline; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: #414141; }

h1, .h1 {
  font-size: 24px;
  margin: 30px 0; }

h2, .h2 {
  font-size: 15px;
  margin: 15px 0; }

h3, .h3 {
  font-size: 12px;
  margin: 10px 0; }

h4, .h4 {
  font-size: 12px;
  margin: 10px 0; }

h5, .h5 {
  font-size: 12px;
  margin: 5px 0; }

h6, .h6 {
  font-size: 12px;
  margin: 2px 0; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

* {
  box-sizing: border-box; }

.hidden-xs-up {
  display: none !important; }

@media (max-width: 479.9px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 480px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 719.9px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 720px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 969.9px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 970px) {
  .hidden-lg-up {
    display: none !important; } }

.hidden-lg-down {
  display: none !important; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  .container--collapse {
    padding-left: 0;
    padding-right: 0; }
  @media (min-width: 480px) {
    .container {
      max-width: 480px; } }
  @media (min-width: 720px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 970px) {
    .container {
      max-width: 1000px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }
  .container-fluid--collapse {
    padding-left: 0;
    padding-right: 0; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row--collapse {
    margin-left: 0;
    margin-right: 0; }
    .row--collapse > [class*='col-'] {
      padding-left: 0;
      padding-right: 0; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }
  .col-xs-1.col-xs-1--right {
    float: right; }

.col-xs-2 {
  width: 16.66667%; }
  .col-xs-2.col-xs-2--right {
    float: right; }

.col-xs-3 {
  width: 25%; }
  .col-xs-3.col-xs-3--right {
    float: right; }

.col-xs-4 {
  width: 33.33333%; }
  .col-xs-4.col-xs-4--right {
    float: right; }

.col-xs-5 {
  width: 41.66667%; }
  .col-xs-5.col-xs-5--right {
    float: right; }

.col-xs-6 {
  width: 50%; }
  .col-xs-6.col-xs-6--right {
    float: right; }

.col-xs-7 {
  width: 58.33333%; }
  .col-xs-7.col-xs-7--right {
    float: right; }

.col-xs-8 {
  width: 66.66667%; }
  .col-xs-8.col-xs-8--right {
    float: right; }

.col-xs-9 {
  width: 75%; }
  .col-xs-9.col-xs-9--right {
    float: right; }

.col-xs-10 {
  width: 83.33333%; }
  .col-xs-10.col-xs-10--right {
    float: right; }

.col-xs-11 {
  width: 91.66667%; }
  .col-xs-11.col-xs-11--right {
    float: right; }

.col-xs-12 {
  width: 100%; }
  .col-xs-12.col-xs-12--right {
    float: right; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 480px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
    .col-sm-1.col-sm-1--right {
      float: right; }
  .col-sm-2 {
    width: 16.66667%; }
    .col-sm-2.col-sm-2--right {
      float: right; }
  .col-sm-3 {
    width: 25%; }
    .col-sm-3.col-sm-3--right {
      float: right; }
  .col-sm-4 {
    width: 33.33333%; }
    .col-sm-4.col-sm-4--right {
      float: right; }
  .col-sm-5 {
    width: 41.66667%; }
    .col-sm-5.col-sm-5--right {
      float: right; }
  .col-sm-6 {
    width: 50%; }
    .col-sm-6.col-sm-6--right {
      float: right; }
  .col-sm-7 {
    width: 58.33333%; }
    .col-sm-7.col-sm-7--right {
      float: right; }
  .col-sm-8 {
    width: 66.66667%; }
    .col-sm-8.col-sm-8--right {
      float: right; }
  .col-sm-9 {
    width: 75%; }
    .col-sm-9.col-sm-9--right {
      float: right; }
  .col-sm-10 {
    width: 83.33333%; }
    .col-sm-10.col-sm-10--right {
      float: right; }
  .col-sm-11 {
    width: 91.66667%; }
    .col-sm-11.col-sm-11--right {
      float: right; }
  .col-sm-12 {
    width: 100%; }
    .col-sm-12.col-sm-12--right {
      float: right; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 720px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
    .col-md-1.col-md-1--right {
      float: right; }
  .col-md-2 {
    width: 16.66667%; }
    .col-md-2.col-md-2--right {
      float: right; }
  .col-md-3 {
    width: 25%; }
    .col-md-3.col-md-3--right {
      float: right; }
  .col-md-4 {
    width: 33.33333%; }
    .col-md-4.col-md-4--right {
      float: right; }
  .col-md-5 {
    width: 41.66667%; }
    .col-md-5.col-md-5--right {
      float: right; }
  .col-md-6 {
    width: 50%; }
    .col-md-6.col-md-6--right {
      float: right; }
  .col-md-7 {
    width: 58.33333%; }
    .col-md-7.col-md-7--right {
      float: right; }
  .col-md-8 {
    width: 66.66667%; }
    .col-md-8.col-md-8--right {
      float: right; }
  .col-md-9 {
    width: 75%; }
    .col-md-9.col-md-9--right {
      float: right; }
  .col-md-10 {
    width: 83.33333%; }
    .col-md-10.col-md-10--right {
      float: right; }
  .col-md-11 {
    width: 91.66667%; }
    .col-md-11.col-md-11--right {
      float: right; }
  .col-md-12 {
    width: 100%; }
    .col-md-12.col-md-12--right {
      float: right; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 970px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
    .col-lg-1.col-lg-1--right {
      float: right; }
  .col-lg-2 {
    width: 16.66667%; }
    .col-lg-2.col-lg-2--right {
      float: right; }
  .col-lg-3 {
    width: 25%; }
    .col-lg-3.col-lg-3--right {
      float: right; }
  .col-lg-4 {
    width: 33.33333%; }
    .col-lg-4.col-lg-4--right {
      float: right; }
  .col-lg-5 {
    width: 41.66667%; }
    .col-lg-5.col-lg-5--right {
      float: right; }
  .col-lg-6 {
    width: 50%; }
    .col-lg-6.col-lg-6--right {
      float: right; }
  .col-lg-7 {
    width: 58.33333%; }
    .col-lg-7.col-lg-7--right {
      float: right; }
  .col-lg-8 {
    width: 66.66667%; }
    .col-lg-8.col-lg-8--right {
      float: right; }
  .col-lg-9 {
    width: 75%; }
    .col-lg-9.col-lg-9--right {
      float: right; }
  .col-lg-10 {
    width: 83.33333%; }
    .col-lg-10.col-lg-10--right {
      float: right; }
  .col-lg-11 {
    width: 91.66667%; }
    .col-lg-11.col-lg-11--right {
      float: right; }
  .col-lg-12 {
    width: 100%; }
    .col-lg-12.col-lg-12--right {
      float: right; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 12px 10px;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .btn:hover {
    color: inherit;
    text-decoration: none; }
  .btn.disabled, .btn[disabled],
  fieldset[disabled] .btn {
    cursor: disabled;
    opacity: .65; }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.btn--brand {
  color: #fff;
  background-color: #fd926d;
  border-color: #fd926d; }
  .btn--brand:hover {
    color: #fff;
    background-color: #fc6c3b;
    border-color: #fc6c3b; }
  .btn--brand:active, .btn--brand.active {
    color: #fff;
    background-color: #fc6c3b;
    border-color: #fc6c3b; }
  .btn--brand.disabled, .btn--brand.disabled:hover, .btn--brand.disabled:focus, .btn--brand.disabled.focus, .btn--brand.disabled:active, .btn--brand.disabled.active, .btn--brand[disabled], .btn--brand[disabled]:hover, .btn--brand[disabled]:focus, .btn--brand[disabled].focus, .btn--brand[disabled]:active, .btn--brand[disabled].active,
  fieldset[disabled] .btn--brand,
  fieldset[disabled] .btn--brand:hover,
  fieldset[disabled] .btn--brand:focus,
  fieldset[disabled] .btn--brand.focus,
  fieldset[disabled] .btn--brand:active,
  fieldset[disabled] .btn--brand.active {
    background-color: #fd926d;
    border-color: #fd926d; }

.btn--link {
  color: #f8f8f8;
  font-weight: normal;
  border-radius: 0; }
  .btn--link, .btn--link:active, .btn--link.active, .btn--link[disabled],
  fieldset[disabled] .btn--link {
    background-color: transparent;
    box-shadow: none; }
  .btn--link, .btn--link:hover, .btn--link:focus, .btn--link:active {
    border-color: transparent; }
  .btn--link:hover, .btn--link:focus {
    color: #fd926d;
    text-decoration: underline;
    background-color: transparent; }
  .btn--link[disabled]:hover, .btn--link[disabled]:focus,
  fieldset[disabled] .btn--link:hover,
  fieldset[disabled] .btn--link:focus {
    color: #ccc;
    text-decoration: none; }

.btn--block {
  display: block;
  width: 100%; }

.btn--block + .btn--block {
  margin-top: 5px; }

input[type="submit"].btn--block,
input[type="reset"].btn--block,
input[type="button"].btn--block {
  width: 100%; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit; }

input[type="search"] {
  -webkit-appearance: none; }

.form__group {
  margin-bottom: 15px; }

.form__control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11.5px 10px;
  font-size: 12px;
  line-height: 1.4;
  color: #f8f8f8;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d6d6d6;
  border-radius: 0; }
  .form__control::-moz-placeholder {
    color: #949393;
    opacity: 1; }
  .form__control::-webkit-input-placeholder {
    color: #949393; }
  .form__control:-ms-input-placeholder {
    color: #949393; }
  .form__control::placeholder {
    color: #949393; }
  .form__control.placeholder {
    color: #949393 !important; }
  .form__control:focus::-moz-placeholder {
    color: transparent; }
  .form__control:focus::-webkit-input-placeholder {
    color: transparent; }
  .form__control:focus:-ms-input-placeholder {
    color: transparent; }
  .form__control:focus::placeholder {
    color: transparent; }
  .form__control:focus {
    border-color: #66afe9;
    outline: 0; }
  .form__control::-webkit-input-placeholder {
    color: #949393;
    opacity: 1; }
  .form__control::-moz-placeholder {
    color: #949393;
    opacity: 1; }
  .form__control:-ms-input-placeholder {
    color: #949393;
    opacity: 1; }
  .form__control::placeholder {
    color: #949393;
    opacity: 1; }
  .form__control[disabled], .form__control[readonly],
  fieldset[disabled] .form__control {
    background-color: #ccc;
    opacity: 1; }
  .form__control[disabled],
  fieldset[disabled] .form__control {
    cursor: disabled; }

.form__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

.form_help {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: white; }

textarea.form__control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

.block--dark {
  background: #000; }

.block--pd-sm {
  padding: 20px 0; }

.header__logo {
  padding-top: 15px; }

.header__phone {
  text-transform: uppercase;
  color: #fff;
  padding-top: 10px; }

.list-user {
  font-size: 0; }
  .list-user__item {
    display: inline-block;
    border-left: 1px solid #444;
    border-right: 1px solid #444; }
  .list-user__link {
    text-decoration: none;
    padding: 10px 12px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px; }
    .list-user__link:hover {
      text-decoration: none;
      color: inherit; }

.list-navbar {
  margin-top: 15px; }
  .list-navbar__item {
    display: inline-block; }
    .list-navbar__item--mg-right {
      margin-right: 10px; }
  .list-navbar__link {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 15px 15px;
    display: inline-block; }
    .list-navbar__link:hover {
      text-decoration: none;
      color: #000; }

.caret {
  display: inline-block;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropdown {
  position: relative; }
  .dropdown__list {
    padding: 0;
    position: absolute;
    left: -9999px; }
  .dropdown:hover .dropdown__list, .dropdown:hover .dropdown__box {
    display: block;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99; }
  .dropdown__link {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 5px 0; }
    .dropdown__link:hover {
      color: #000;
      text-decoration: none; }
    .dropdown__link--list-user {
      background: #000;
      color: #fff;
      padding: 10px 0; }
      .dropdown__link--list-user:hover {
        color: #fff;
        box-shadow: inset 0px 1px 0 0 #fff, inset 0px -1px 0 0 #fff; }
    .dropdown__link--navbar-bg:hover {
      background: #fd926d; }
  .dropdown__box {
    position: absolute;
    left: -9999px;
    background-color: #fafafa;
    height: 300px;
    top: 100%;
    margin: 1px -1px 0 -1px; }
  .dropdown__title {
    text-transform: uppercase; }

.cart-box {
  min-width: 214px; }
  .cart-box__header {
    width: 100%;
    border: 1px solid #d6d6d6;
    color: #949393;
    padding: 10px; }
  .cart-box__footer {
    background-color: #fafafa;
    border: 1px solid #d6d6d6;
    padding: 10px;
    text-transform: uppercase;
    color: #949393;
    margin-top: -1px; }
  .cart-box__title {
    text-transform: uppercase; }
