$icomoon-font-path: "fonts" !default;

$icon-remove: "\e90c";
$icon-add: "\e90d";
$icon-chevron-thin-right: "\e906";
$icon-chevron-thin-left: "\e909";
$icon-vk: "\e904";
$icon-google: "\e905";
$icon-plus: "\e90a";
$icon-envelope: "\e907";
$icon-twitter: "\e901";
$icon-social: "\e901";
$icon-magnifying-glass: "\e902";
$icon-search: "\e902";
$icon-zoom: "\e902";
$icon-home: "\e903";
$icon-user: "\e971";
$icon-facebook: "\ea90";
$icon-twitter2: "\ea96";
$icon-pinterest: "\ead1";
$icon-chevron-right: "\e900";
$icon-chevron-left: "\e908";
$icon-shopping-bag: "\e90b";

