// variables 
@import 'variables';



// elements
@import 'reset';
@import 'type';
@import 'grid';
@import 'buttons';
@import 'forms';

//components
@import "components/caret";
@import 'components/blocks';
@import 'components/navbar';
@import 'components/header';
@import 'components/lists';
@import 'components/dropdowns';
@import 'components/cart-box';
@import 'components/brand';
@import 'components/about';
@import 'components/paycards';
@import 'components/footer';
@import 'components/features';
@import 'components/promo-home';
@import 'components/info-block';
@import 'components/filters';


//// Icons

@import 'icons/style';

// Interactive 
@import "components/carousel";
@import "../../bower_components/owl-carousel/owl-carousel/owl.carousel";
@import "../../bower_components/owl-carousel/owl-carousel/owl.theme";
@import "../../bower_components/owl-carousel/owl-carousel/owl.transitions";
@import "components/accordion";

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #f7d2cc;
  border-radius: 12px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 22px;
  height: 20px;
  background: #38b11f;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -11px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 12;
  background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 6px;
}